<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Team</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
   <description>lhdb</description>
   <res-ref-name>jdbc/mysqlDB</res-ref-name>
   <res-type>javax.sql.DataSource</res-type>
   <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
	<servlet-name>MainFrontController</servlet-name>
	<servlet-class>net.main.action.MainFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>MainFrontController</servlet-name>
	<url-pattern>*.ma</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>BookFrontController</servlet-name>
	<servlet-class>net.book.action.BookFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>BookFrontController</servlet-name>
	<url-pattern>*.bk</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>NewsFrontController</servlet-name>
	<servlet-class>net.news.action.NewsFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>NewsFrontController</servlet-name>
	<url-pattern>*.nw</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>MenuFrontController</servlet-name>
	<servlet-class>net.menu.action.MenuFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>MenuFrontController</servlet-name>
	<url-pattern>*.nu</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>MemberFrontController</servlet-name>
  	<servlet-class>net.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MemberFrontController</servlet-name>
  	<url-pattern>*.me</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>AdminFrontController</servlet-name>
	<servlet-class>net.admin.action.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>AdminFrontController</servlet-name>
	<url-pattern>*.ad</url-pattern>
  </servlet-mapping> 

   <servlet>
	<servlet-name>ReviewFrontController</servlet-name>
	<servlet-class>net.review.action.ReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ReviewFrontController</servlet-name>
	<url-pattern>*.re</url-pattern>
  </servlet-mapping>


  <servlet>
  	<servlet-name>ChatSubmitServlet</servlet-name>
  	<servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>ChatSubmitServlet</servlet-name>
  	<url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ChatListServlet</servlet-name>
  	<servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>ChatListServlet</servlet-name>
  	<url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping> 

</web-app>