@CHARSET "UTF-8";

#sub_about { display: block; }

/* 서브바 */
#subon { border-bottom: 2px solid #fff;
	width: 90px; height: 34px;
	color: #fff;
	font-size: 20px;
	display: none;
	line-height: 40px;
	text-align: center;
	position: fixed;
	text-transform: uppercase;
	top: 51%; right: 53px;
	z-index: 100;}


/* 3구역 배경이미지 지정 */
.main_box{
	margin:0px;
	height:100%;
	width:100%;
	position:relative; 
	color:#000; }
	
#main0,#main1,#main2,#main3{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;}

#main0{	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/menu/about0.jpg");}	
.main0_txt{/* border: 1px solid #fff; */
	font-size: 50px;
	color:#fff;
	line-height: 1.5em;
	text-align: center;
	display: block;
	position: relative;
	top:50%;
	width:100%; 
	transform: translateY(-50%);
	font-weight: 500;}

#main1{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/menu/about01.jpg"); }
#main2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/menu/about02.jpg"); }
#main3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/menu/about03.jpg");}

/* 2번째 본문 */
.text_area { width: 400px;
	padding-top: 80px; 
	position: relative;
	top: 10%; }

.left_area { float: left;
	margin-left: 65%; }

.right_area { float: right;
	margin-right: 65%; }

.tit { width: 230px; height: 90px;
	font-size: 30px;
	color: #fff;
	line-height: 90px;
	border-bottom: 1px solid #a7a29a; }

.st_tx1 { width: 250px;
	font-size: 80px;
	font-weight: 400;
	letter-spacing: 3px;
	color: #fff;	
	line-height: 100px;
	border-bottom: 1px solid #d0ceca;
	padding: 20px 0 5px; }

.st_tx2 { font-size: 18px;
	padding-top: 25px;
	line-height: 1.5;
	color: #a4a2a1;
	font-weight: 300; }

/***** 지도 *****/
h1#title{ margin:0;
	padding-top:110px;
	font-size: 3em;
	color: #ffffff;
	text-align: center; }
	
.map_wrap {
	position:relative; overflow:hidden;
	width:1300px; height:700px;
	background-color:rgba(255, 255, 255, 0.4);
	top: 20px;
	margin:0 auto 0; }

.map_wrap>.mapdiv { width: 300px; height: 300px; /* 지도크기 */ 
	position: absolute;
	overflow: hidden; 
	display: none;/* 지도type1지움 */}

.mapAlldiv { width:40%; height: 80%; /* 지도크기 */ 
	position: absolute;
	overflow: hidden; }
	
#mapSeomyeon { top: 20px; left: 20px;	/* 지도위치 */ }
#mapKangnam { top: 20px; left: 420px;	/* 지도위치 */ }
#mapAll { top: 70px; left: 50px;	/* 지도위치 */ }
 
.map_wrap>.mapInfo {
	background-color: rgba(230, 230, 230, 0.7);	
	position: absolute;
	width: 40%; height: 80%;
	top: 70px; right: 50px;
}

 /* 확대축소버튼  */
.radius_border{ border:1px solid #919191;
	border-radius:5px; }    

.custom_zoomcontrol { position:absolute;
	top:50px; right:10px;
	width:36px; height:80px;
	overflow:hidden;
	background-color:#f5f5f5;
	z-index: 5; } 

.custom_zoomcontrol span { display:block;
	width:36px; height:40px;
	text-align:center;
	cursor:pointer; }     

.custom_zoomcontrol span img { 
	width:15px; height:15px; 
	padding:12px 0; 
	border:none; 
	box-sizing: content-box; }           
	  
.custom_zoomcontrol span:first-child{
	border-bottom:1px solid #bfbfbf; } 

/* 지점정보 */
.map_wrap>.mapInfo .info-data {
	border-bottom: 1px solid #aaa;
	width: 90%; height: 150px;
	position: relative;
	margin: 20px auto; }

.map_wrap>.mapInfo .info-data:HOVER { cursor: pointer; }

.map_wrap>.mapInfo img { width:100px; height: 100px;
	position: absolute;
	top: 20px; left: 20px; }

.map_wrap>.mapInfo .infoTxt {
	width: 350px; height:100px;
	position: absolute;
	top: 20px; left: 150px;
	color: #333; }

.map_wrap>.mapInfo .infoTxt>div { margin: 5px 0; }

#itxt1 { font-size: 16px; font-weight: bold; }
#itxt2 { font-size: 14px; }

/***** 지점상세정보 *****/
.map_wrap>.storeInfo {
	background-color: rgba(230, 230, 230, 0.7);
	position: absolute;
	width: 40%; height: 80%;
	top: 70px; right: 50px;
	display: none; }
	
.map_wrap>.storeInfo .store { display: none; }

 /* 돌아가기버튼 */
.backMap { width: 80px; 
	font-size: 20px;
	padding: 5px 0 2px 2px;
	margin: 5px;}
		
.backMap:HOVER { cursor: pointer; 
		border-bottom: 2px solid black;}
.backMap i { font-size:24px; }

.map_wrap>.storeInfo img { width:400px; height: 250px;
 	position: absolute;
 	top: 50px; left: 60px; }

.map_wrap>.storeInfo .storeTitle {color: #333; font-size: 16px; }

.storeInfo table {
	position: absolute;
	top: 320px; left: 60px; }

.storeInfo table #title {
	color: #333; 
	font-size: 16px; }
	
.storeInfo table th, td {
	color: #333; 
	font-size: 14px; }
	
.storeInfo table th { padding: 10px 30px; }
.storeInfo table td { padding: 10px 80px; }








