@CHARSET "UTF-8";

#wrap{
	width: 100%; height: 100%;
	margin: 0 auto;
	padding-top: 100px; 
	padding-bottom: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/book/book.jpg");
	background-repeat: no-repeat;
	background-size: cover;	}
	
h1#title{ margin:0;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 3em;
	color: #ffffff;
	text-align: center; }	

article#book_art {width: 1300px; height: 700px;
	margin: 5px auto;
	position: relative;
	background-color:rgba(255,255,255,0.7);}
	
/* 예약 네비게이션 메뉴바  */
.book_nav{ width: 100%; height: 120px;
	background-color: #000; }

.book_nav>.steps{ width: 20%; height: 110px;
	float: left;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 20px; }

.book_nav>.steps>.step2{ width: 130px;
	margin: 40px auto 0;
	padding-bottom: 2px; }

.step2.active { background-color: #000;
	border-bottom: 1px solid #fff;
	display: inline-block;
	font-size: 16px; }
	
.step2.finish{ 	background-color: #000;
	color: #fff;
	font-size: 12px; }

.step2:HOVER { cursor: pointer; }	

/* 예약폼 공통요소 */
#book_form{
	color: #000;
	width: 100%; height: 600px;
	margin: 0 auto; }

.tab { display: none; }

.panel{	width: 100%; height: 520px;
	text-align: center;
	padding: 20px 0;
	font-size: 15px;}
		
.panel>#location, .panel>#date {
	width:50%; height: 100%;
	float: left;
	position: relative;/* dateDesc위치설정위해 */ }

.panel>#guest, .panel>#time {
	width:50%; height: 100%;
	float: right; }

.label{
	margin: 10px;
	font-size: 25px;
	font-weight: bold;
	display: inline-block; }
	
.slot{border:2px solid #424a52;
	border-radius: 10px;
	width:170px; height: 70px;
	text-align: center;
	margin: 10px auto;
	line-height: 70px;
	cursor: pointer;
	color: #424a52;
	background-color: rgba(255,255,255,0.7);
	font-weight: bold;
	font-size: 18px; }

.slotAct{
	background-color: #424a52;
	color: #d3e0f1; }

.slotDisable{
	background-color: #8a8a8a;
	color: #424a52;	}

.slotDisable:HOVER{
	background-color: #8a8a8a !important;
	color: #424a52 !important;
	cursor: not-allowed; }

.slot:HOVER{
	background-color: #424a52;
    color: #ffffff; }

/* 버튼 */
#prevBtn, #nextBtn, #bookCheckbtn{ width: 140px; height: 50px;
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;}

#prevBtn:hover, #nextBtn:hover { opacity: 0.8; }

#prevBtn { left: 10px; bottom: 10px; }

#nextBtn { right: 10px; bottom: 10px;}

/* datepicker */
#datepicker {margin-top: 5px;}

/* 2단계 날짜설명 */
#dateDesc { position: absolute;
	top: 250px; right: 20px;
	width: 120px; height: 80px;
	text-align: left; }

#dateDesc>#squToday, #dateDesc>#squSelect, #dateDesc>#squAble {
	padding-bottom: 5px; }

/* table */
#table{border: 1px solid;
  width: 550px; height: 330px;
  margin: 20px auto 0 auto;
  position: relative; }
 
#table>div{ position: absolute; }

#kitchen{border: 2px solid;
  box-sizing: border-box;
  width: 300px; height: 35px;
  top: 2px; left: 110px;
  padding: 2px 120px;
  font-weight: bold;
  font-size: 18px; }

#door{border: 2px solid;
 	box-sizing: border-box;
	width: 80px; height: 60px;
	border-radius: 0 100% 0 0;
	padding-top: 20px;
	padding-right: 10px;
	font-weight: bold;
	font-size: 18px;
	left: 2px; bottom: 2px; }
	  
#table>.tabl {
	width: 60px; height: 60px;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	background-repeat: no-repeat;
	background-size: cover; }

.tfor2, .tfor4:HOVER {cursor: pointer; }
	
.tfor2 { background-image: url("../images/book/table2.png"); }
.tfor4 { background-image: url("../images/book/table4.png"); }

.tfor2Act { background-image: url("../images/book/table2_p.png"); }
.tfor4Act { background-image: url("../images/book/table4_p.png"); }

.tfor2Disable { background-image: url("../images/book/table2_g.png"); }
.tfor4Disable { background-image: url("../images/book/table4_g.png"); }

.tfor2Disable:HOVER, .tfor4Disable:HOVER  { cursor: not-allowed; }
 

.tfor2:HOVER { background-image: url("../images/book/table2_r.png"); }
.tfor4:HOVER { background-image: url("../images/book/table4_r.png"); }

#t1{ left: 115px; bottom: 4px; }
#t2{ left: 225px; bottom: 4px; }
#t3{ left: 335px; bottom: 4px; }
#t4{ left: 445px; bottom: 4px; }
#t5{ left: 400px; bottom: 108px; }
#t6{ left: 270px; bottom: 108px; }
#t7{ left: 140px; bottom: 108px; }
#t8{ left: 190px; bottom: 208px; }
#t9{ left: 320px; bottom: 208px; }
#t10{ left: 450px; bottom: 208px; }

/* 4단계 요청사항 */

#alergy, #req{
	width: 600px; 
	margin: 5px 300px 5px 300px;
	text-align: left;
	font-weight: bold;
}

#alergy {
	margin-top: 60px;
	height: 30px;
	line-height: 30px; }

#alergy>label { margin-left: 5px; }
	
#alergy #rad {
	display: inline-block;
	margin-left: 40px;}

#alergy span{
	display: inline-block;
	margin-left: 155px;
	font-weight: 500;
}
#req {
	position: relative;
	top: 30px;
	height: 200px; }

#req>label { 
	position: absolute;
	top: 25px; left: 5px;
	height: 50px; }

#req>textarea { 
	position: absolute;
	top: 20px; left: 155px; }

#detail { display: none;
	/* background-color: rgba(255,255,255,0.7); */
	border: none;
	border-bottom: 1px solid #000;
	/* color: #000; */
	padding: 5px;
	margin-left: 10px; }


/* 5단계 확인 완료 */
table#confirm{margin: 10px auto;}

table#confirm th,table#confirm td{padding: 13px 20px 13px 15px;
	font-size: 17px;
	font-weight: bold;
	text-align: left;	}	

table#confirm th{width:170px;}

table#confirm td{font-weight: bolder;
	width: 400px;}

	
/* BookCheck */
article#bookck_art {width: 900px; height: 600px;
	margin: 20px auto;
	position: relative;
	background-color:rgba(255,255,255,0.7); }

.bookCk .chTitle{text-align: center;}

.bookCk p {
	text-align: center;
	margin: 0 ;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: bold; }

.bookCk table{margin: 10px auto;
	border-collapse: collapse;}

.bookCk td, .bookCk th{padding: 13px 20px 13px 15px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid;	}

.bookCk td{
	font-weight: bolder;
	width: 400px;
	text-align: left;}
	
.bookCk td#booknote{
	border: none; !important;}

#bookCheckbtn{ left: 40%; bottom: 5%;
	width: 160px; !important}






