@CHARSET "UTF-8";

#wrap{
	width: 100%;
	margin: 0 auto;
	padding-top: 80px; 
	padding-bottom: 20px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/backg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;	}	

article {width: 70%; height: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color:rgba(255,255,255,0.7); }

.book_nav{
	width: 100%;
	height: 120px;
	background-color: #000; }

.book_nav>.steps{
	width: 20%; height: 110px;
	float: left;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 20px; }

.book_nav>.steps>.step2{
	width: 130px;
	margin: 40px auto 0;
	padding-bottom: 2px; }

#book_form{
	color: #000;
	width: 100%; height: 500px;
	margin: 0 auto; }

.tab { display: none; }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    outline: none;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	transition: 0.4s;
	text-align: center; }
	
.fa-arrow-circle-down {
	float: right;
	margin-right: 20px;
	margin-top: 13px; }
	
.accordion>p{
	font-size: 20px;
	font-weight:bold;
	display: inline-block;
	cursor: pointer;
	text-align: center; }

.active, .accordion:hover{
    background-color: #ccc;
    cursor: pointer; }

.panel{
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	width: 100%;
	height: 400px; }
	
.panel>#location, .panel>#date {
	width:50%; height: 100%;
	float: left; }

.panel>#guest, .panel>#time {
	width:50%; height: 100%;
	float: right; }

.label{border: 1px solid black;
	margin: 10px;
	display: inline-block; }
	
.slot{
	border-radius: 3px;
	width:155px; height:55px;
	text-align: center;
	margin: 5px auto 5px auto;
	line-height: 55px;
	cursor: pointer;
	color: #424a52;
	background-color: #d3e0f1; }
	
.slot:HOVER{
	background-color: #424a52;
    color: #ffffff; }
	
.panel2>#datepicker { line-height: 30px; }

.step2.active {
	background-color: #000;
	border-bottom: 1px solid #fff;
	display: inline-block;
	font-size: 16px; }
	
.step2.finish{
	background-color: #000;
	color: #fff;
	font-size: 12px; }

.step2:HOVER { cursor: pointer; }	

button {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px 5px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  float:right; }

button:hover { opacity: 0.8; }

button#prevBtn { float: left; }


/* table */
#table{border: 1px solid;
  width: 500px; height: 300px;
  margin: 0 auto;
  position: relative; }
 
#table>div{ position: absolute; }

#kitchen{border: 2px solid;
  box-sizing: border-box;
  width: 300px; height: 30px;
  top: 2px; left: 100px;
  padding: 2px 120px;
  font-weight: bold;
  font-size: 18px; }

#door{border: 2px solid;
 	box-sizing: border-box;
	width: 70px; height: 50px;
	border-radius: 0 100% 0 0;
	padding: 14px 8px;
	font-weight: bold;
	font-size: 18px;
	left: 2px; bottom: 2px; }
	  
.tfor2, .tfor4 {
	width: 60px; height: 60px;
	color: #fff;
	display: inline-block;
	line-height: 60px;
	background-repeat: no-repeat;
	background-size: cover; }

.tfor2, .tfor4:HOVER {cursor: pointer; }
	
.tfor2 { background-image: url("../images/book/table2.png"); }
.tfor4 { background-image: url("../images/book/table4.png"); }

.tfor2:HOVER { background-image: url("../images/book/table2_g.png"); }
.tfor4:HOVER { background-image: url("../images/book/table4_g.png"); }

#t1{ left: 100px; bottom: 2px; }
#t2{ left: 210px; bottom: 2px; }
#t3{ left: 320px; bottom: 2px; }
#t4{ left: 430px; bottom: 2px; }
#t5{ left: 380px; bottom: 100px; }
#t6{ left: 260px; bottom: 100px; }
#t7{ left: 140px; bottom: 100px; }
#t8{ left: 140px; bottom: 190px; }
#t9{ left: 260px; bottom: 190px; }
#t10{ left: 380px; bottom: 190px; }

/* step4 request */
#detail { display: none; }

#confirm{margin: 20px auto;}

.panel>#confirm{
   border-collapse: collapse;
   margin: 20px auto;
   text-align: left; }

.panel>#confirm td{
	padding: 5px 100px 10px 5px; }
	
	
/* BookCheck */

.bookCk{
	border: 1px solid red;
}

.bookCk h1{
	text-align: center;
}

