@CHARSET "UTF-8";


body, html {
    height: 100%;
    width:100%;
	padding:0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 나눔스퀘어OTF, sans-serif;
}

	
.clear{clear: both;}

body{margin: 0px; padding: 0px;
	font-size: 14px;}
	
/* 상단 메뉴 전체 */
.top_menu{/* border: 2px solid yellow; */
	overflow: hidden;
 	position: fixed;
  	left: 0;top: 0;
  	width: 100%; height: 80px;
  	z-index: 10;
  	text-align:center;
	background-color: rgba(0,0,0,0.8);\
	}



/* 로고 */
#logo {  /* border: 1px solid red; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    width: 230px; height: 50px;
	float: left;
	margin-right:50px;
	margin-top: 10px;
}

.logoC { 
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  
}
/* 로고랑 메인메뉴 묶어주는 div */
#topArea{ /* border: 1px solid red; */
		width: 1500px;
		height:70px;
		margin-left:auto;
		margin-right: auto;
		 }
		
/* 메인메뉴 ul */
#main_menu { /* border: 1px solid yellow; */
		width: 1200px;
		height:70px;
	margin: auto;
	margin-left:300px;
	/* padding: 30px 0 0 450px; */
	position: relative;  
}
#main_menu>li{float: left;list-style: none;}
#main_menu a{text-decoration: none;}

.MM{	 /* border: 1px solid green; */
	text-decoration: none;
	display: inline-block;
    color: #eee;
    font-size: 18px;
    font-weight: 500px;
    margin:17px 15px;
    padding: 10px 20px;
    /* margin-right: 10%; */}

.MM:HOVER {
	border-bottom : 3px solid #670000;
	cursor: pointer;cursor: hand;
	color: #990000;
	transition:color 0.2s;
}
/* book 영역 */

#book{list-style: none;
	background-color: #e73f3f;
	text-decoration: none;
	display: inline-block;
	width:120px; 
    font-size: 22px;
    font-weight: 500;
	cursor: pointer;
/* 	border: 1px solid; */
	 margin:17px 0px 17px 40px ;
	padding: 10px 20px;
	color: #000000;
	border-radius: 8px;
}
#book:HOVER{
	background-color: #990000; 
	/* 서서히 바뀜 */
	transition:background-color 0.3s;	
	cursor: pointer;cursor: hand;
	color: #000;
}

/* 로그인 , 회원가입, 매장찾기 영역 */
#login{margin-left: 130px;}
.logArea{height:70px;margin-top: 30px;
		color: #eee;
		}   
.logArea>a, .logArea>span {color: #eee;padding: 0 18px;}
#login > .material-icons{
	font-size: 30px;
	position: absolute;
    top: 10px;
    right: 70px;
    color: white;
}   

/* #loginPage{
	border: 1px solid blue;
	position: absolute;
    width: 150px;
    color: white;
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 20px;
    float: left;
    } */

/* 로그인버튼 */
/* #log02 input[type=button]{
	border-radius: 5px 5px;
	margin-left: 10px;
	font-weight: 400;
	border: none;
	background:rgba(0,0,0,0);
	color: #fff;
	font-size: 14px;
	color: black;
  	padding: 6px 8px;		
} */

/* 마이페이지 */
#loginPage {
	/* border: 1px solid blue; */
	color: #eee;
	/* width: 100px; */
	margin-top: 15px;
	float:left;
}



.MPDbtn { background-color: rgba(0,0,0,0);
  background-image: url("../images/myPage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  
  cursor: pointer;
  width: 25px; height: 27px;
  margin-top: 15px;
}

.MPDbtn:hover {
  background-color: #2980B9;
}

.MPDown {
  position: relative;
  display: inline-block;
}

.MPDown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  overflow: auto;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.MPDown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}
.MPDown-content input[type=button] {
  color: black;
  padding: 8px 10px;
  display: block;
  min-width: 80px;
  border: none;
}

.MPDown a:hover {background-color: #ddd;}
.MPDown input[type=button]:HOVER {background-color: red;}

.Myshow {display: inline-block; margin-top: 15px;}



/* .Mydropbtn {
  background-image: url("images/myPage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 28px; height: 30px;
}

.mypageImg {
  position: relative;
  display: inline-block;
}

.mypageImg-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.mypageImg-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.mypageImg-content a:hover {background-color: #ddd;}

.mypageImg:hover .mypageImg-content {display:inline-block;}

 */




	
/* 원래있던 로그인 속성이 a href=""였는데 버튼으로 바꿔서 ↑걸로 --임시-- 수정해둠 -박소정

 #login a{
	border: 1px solid red;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;}
 */
 /* 스크롤 아이콘 */   
.arrow{
	position: absolute;
    left: 50%;
    bottom: 30px;
    height: 130px;
}
   
.arrow .dot{
	position: absolute;
    left: 50%;
    top: 65px;
    margin-left: -1px;
    animation: scroll 2s ease-in-out infinite alternate;}

@keyframes scroll{

0%{transform: translate(0,-10px);}

90%{transform: translate(0,125%);}

100%{transform: translate(0,200%);
	opacity: 0;}

}

/* 예약버튼 */
/* #book{ 
	border: 1px solid yellow;
	border-radius: 10px 10px;
	width: 180px; height: 60px;	
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	background-image: url("../images/bookImg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	} */




/* 서브메뉴 */
.submenu{
	position: fixed;
    top: 0; bottom: 0; right: 20px;
    width: 32px; height: 180px;
    margin: auto;
    font-size: 1.2em;
    z-index: 10;
    text-align: center;}

.submenu_in{
	width: 32px;
    height: auto;
    padding: 10px 0;
    background-color: rgba(51,51,51,0.8);
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);}

.submenu_in a{
	display: block;
    margin: auto;
    width: 7px;
    height: 7px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #fff;}
    
#sub_about { display: none; }

/* 1:1채팅 */
.chat{	
	width: 50px; height: 30px;
	background-color: rgba(51,51,51,0.8);
	
	position: fixed;
	top: 57%; right:10px;
	color: #fff;
	border: none;	
	}

/* 푸터전체 */
footer{
	width: 100%;
    position: relative;
    background-color: #fff;
    text-align: center;
    padding-top: 0px;}

/* 문의 영역 */
.ftop{
	text-align: center;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ededed;}

.ftop a, .ftop span {
	display: inline-block;
	text-decoration: none;
    height: 80px;
    line-height: 80px;
    margin-right: 40px;
    padding-left: 20px;
    font-size: 16px;
    color: #666666;}

.ftop .material-icons{
	/* border: 1px solid yellow; */
	font-size:20px;
	color:#666666;
	margin-right: 5px !important;
}

/* 푸터 가운데 메뉴영역  */
.fmenu{
	margin-top: 30px;}

.fmenu a, .fmenu span{
	text-decoration: none;
	display: inline-block;
    font-size: 14px;
    color: #666666;}

.fmenu a:after, .fbottom span:after{
	content: "|";
    padding-right: 10px;
    padding-left: 10px;
    color: #d9d9d9;
    font-weight: 300;
    font-size: 12px;}
    
.fmenu a:LAST-CHILD:after, .fbottom span:LAST-CHILD:after{
	content:" "}

/* 푸터 맨 아래 영역 */
.fbottom{
	color: #d9d9d9;
    font-size: 13px;
    margin-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;}
    
.fbottom span{
	color: #999999;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -1px;}
  
    
    
/*     
    
미디아    
@media all and (min-width:1350px) {
	#main_menu { border: 1px solid yellow;
		width: 810px;
  	  	height: 100px;
		margin: auto;
  		padding: 30px 0 0 100px;
  		position: relative;  
	}
	
}
    
     */
    
/* 사이트맵 */
 
 .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 20px;}

.overlay-content>div{
	display: inline-block;
	margin: 0 20px 0 20px;
	vertical-align: top;}

.overlay a{
    padding: 8px;
    text-decoration: none;
    color: #818181;
    font-size: 20px;
    transition: 0.3s;
    vertical-align: top;}

.overlay a#sm_title{
	font-size: 36px;
	font-weight: 500;
	color: #fff;}

.overlay a#sm_title:HOVER{text-decoration: underline;}

.sm_about>a, .sm_menu>a, .sm_news>a, .sm_review>a, .sm_book>a, .sm_mypage>a{
	display: block;}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;}
    
 /* --- 반응형 css --*/   
 /* 작게했을때 나타나는 버튼 */
 #minwin_all{width:100%;position: fixed;  z-index:100;}
#minwin_btn{ float:right;
	padding:10px 20px 10px 10px; float:right;

				background-color:rgba(0,0,0,0.8);
		display:none ; color:#eee;
			margin-top: 10px; font-size: 15px;
			border-bottom: 3px solid #510000;
}

#minwin_btn a{margin-left:15px;text-decoration: none;color:#eee;}
#minwin_btn i{margin-right: 10px;}

/* 반응형 main manu */
 @media screen and (max-width: 1100px) {
 	#main_menu { margin-left:60px;}
	#logo { margin-right:40px;}
	#minwin_btn{display:block ;}
}
/* 반응형 login버튼 구역 */
@media screen and (max-width: 1300px) {
	
	#login{margin-left: 60px;}
}























