@CHARSET "UTF-8";
/* 배경영역 */
#article_fi{font-family: 나눔스퀘어OTF, sans-serif;
			width: 100%; height: 100%;
			background-color: #eee;
			/* 위 메인menu랑 안겹치게 padding값 줌 */
			background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../images/find/findback4.png");
 			background-repeat: no-repeat;
 			background-size:/*  2000px 350px */ 100% 362px ; 
 			background-position: top;
			}
/* 배경이미지영역 */
#backimg{height:400px;width: 100%;
		}

/* 다있쏘적용, id pass 입력 전체 영역, 위치잡기 */

/* 맨위에 Find버튼 */
#tapBtn{margin-right:auto;
			margin-left: auto;
			width: 700px;
			padding-top: 300px;}
.tablink {
    background-color: #777;
    color: #000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 16px;
    font-size: 19px;
    width:50%;
    
}
/* 버튼 눌렀을때 */
.tablink:hover {
    background-color: #d3d3d3;
} 

/* tap안에 전체 내용 (and add height:100% for full page content) */
.tabcontent {
    color: #000;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home,#News {background-color: eee;}

/* 제목,설명 영역 */
#subject{margin-top:0;
		font-size: 22px; height:50px;
		width: 600px;margin-left: 20px;}
/* 입력폼영역 */
#inputForm{
			font-size: 16px;
			width: 600px;
			margin-right:auto;
			margin-left: auto;}
.txtbox{
	width: 100%; height: 50px; 
	font-size: 16px;
	padding: 10px;
}
#email1{width:280px; float: left; margin-right: 5px;}
#email2{width:280px; float: right; margin-left: 5px;}
.emailInputArea div{font-size: 22px;float: left; 
				margin-top: 8px;font-weight: bold;}
/* 테이블영역 */
.findTbl td{width: 900px;height: 50px;}
/* NAME 아이콘 위치조정 */
.findTbl i{ margin-left: 15px;width:40px; }

.findTbl #name_icon{margin-left: 22px;}

/* submit 버튼 */
.submitBtn{width: 100%; height:60px;
		text-align: center; margin-top:50px;
		font-size: 16px; border:none;
		background-color:#b41616;
		color:#eee; font-weight:bold;
		 cursor: pointer;}
.submitBtn:HOVER ,#resultbtn:HOVER{
	background-color: #000;
}

/* 결과 페이지 */
	/* 아이디 표시 영역 */
#resultId{font-size: 18px; line-height: 32px; }
#resultId span{color: #808000;font-weight:bold;}
	/* 홈으로 버튼 */
#resultbtn{border: none; height:45px;width:50%;background-color:#b41616;
		color:#eee; font-weight:bold; margin-top:50px;
		 cursor: pointer;}
















