@CHARSET "UTF-8";

#article_join{
height: 100%;
width: 100%;
background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/backg1.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

/* sec1,sec2 공통 - 센터맞춤*/
#sec1_join,#sec2_join{ 
		margin-left: auto;
		margin-right: auto;
		width: 900px;
		
		}
#sec1_join{ height: 50px;
			margin-bottom: 50px;
			padding-top: 130px;
}
#sec2_join { 
		min-height:650px;
		padding:10px;
		background-color:rgba(255, 255, 255, 0.4);
		margin-top: 80px;

		 }	

/* SIGN UP 표시영역 */
h1{font-size: 3em;
	color: #fff;
	text-align: center;
	/* border: 1px solid red; */
	margin: 0;
	 }

/* 아이콘 영역 */
th {color: #1c1c1c; 
			width:100px; 
			padding-left: 110px;padding-right: 10px;
 			/* border: 1px solid #fff; */}
table{margin-top: 40px;}
td {padding: 15px 0px;}
/* #name_icon{padding: 20px 5px 20px 10px;margin-left: 15px;}
#phone_icon{padding: 20px 10px 20px 20px; } */

/* 오류메세지영역 */
#sec2_join p{padding: 0; margin: 0;
			font-size: 13px;
			margin-left: 40px;
			font-weight: bold;}

/* 입력폼영역 */

#sec2_join input[type=text],#sec2_join input[type=password] {
	border:none;
	width:550px;	height: 35px;
	background-color: #eee;
	padding: 12px 0 3px 20px;
	margin: 0 15px;
	font-size:15px;
	}


/* 이용약관 체크 영역 */
#access{margin:10px 55px 30px 100px ;
		float: left;}
#sec2_join input[type=checkbox]{
	margin: 0 10px;
}
/* 전체체크 */
.acc_checkall{
	margin:20px 10px 20px 0px;
	color: #252525;
	font-weight: bold; }
/* 개별체크 */
.acc_check{	margin:8px 0px 0px 0px ;
			color:#252525; }
/* [필수]빨강*/
.red_b{color: red;}	
	
/* 회원가입 버튼 */
#sec2_join input[type=submit]{
	border:none;
/* 	background-color:#000; */
	color: #bcbcbc;
	font-weight:bold;
	padding: 15px;
	margin-right:150px;
	margin-top:110px;
	float: right; }
	
/* #sec2_join input[type=submit]:HOVER{color: #ed1f1f;} */




























