* {box-sizing: border-box;}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

#login_top{height: 78px;
/* 			border: 1px solid;  */
			font-size: 2.2em;
			font-weight: bold;
			padding-top: 35px;
			text-align: center;
			color: #231f20;
			}

/* Full-width input fields */
.container>input[type=text],.container>input[type=password] {
	font-size:15px;
    width: 100%;
    margin: 0;
    display: inline-block;
    border: 1px solid #e1e3e4;
    padding:15px 5px 15px 15px;
    background: #fff;
}

/* text창 눌렀을때 */
.container>input[type=text]:focus, .container>input[type=password]:focus {
    background-color: #fff;
    outline: none;
    
}
/* 버튼공통 */
.cancelbtn, .signupbtn {
	padding: 19px 20px;
	border:none;
	color:#eee;
	font-weight: bold;
	float: left;
	width: 50%; }
/* 로그인버튼 */
.signupbtn{background-color: #000;}
.signupbtn:HOVER{background-color: #111111;cursor: pointer;}
/* 취소버튼 */
.cancelbtn {background-color: #971309;color: #000}
.cancelbtn:HOVER{background-color: #b9170b;cursor: pointer;}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #e1e3e4;
    margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 380px; /* Could be more or less, depending on screen size */
	height: 400px;
	border-radius: 5px;
	
}

 /* The Close Button (x) */
/*.close {
    position: absolute;
    right: 10%;
    top: 20%;
    font-size: 30px;
    color: #f1f1f1;
} */

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer; /* 마우스커서모양변경 */
}

/* Clear floats */
.clearfix/* ::after */ {
	margin-top:20px;

    content: "";
    clear: both;
}
/* 아이디비번 입력영역 */
#login_btm{color: #231f20;
			height: 30px;
			margin-top: 110px;	
			height: 80px;
			
			 }
.btmmsg{ margin-top: 15px; }		
span.msg{font-size: 12px; color:#808080;width:40px;margin: 0 7px;}
span#msg2{margin-right: 39px;} 
#login_btm a{color: #333; text-decoration: none;
			padding:5px 5px 5px 0; }
/* 회원가입 링크 두껍게 */
#joinlink{font-weight: bold; font-size: 14px;}
#joinlink>span{font-weight: normal; font-size:12;}
#joinlink:HOVER { color: #800000;}

