@CHARSET "UTF-8";

/* 마우스 휠 기능 */
.main_box{ 
	width:100%; 
	height:100%; 
	position:relative; 
	color:#ffffff; 
	font-size:24pt;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

/* 첫번째 메인 */
#main0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/main/main02.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* 메인메뉴 큰 글씨 */
.main_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

.main_text p {
	font-size: 30px;
}

/* 메인이미지 */
#main1, #main2 {
    /* Full height */
    height: 100%; 
	
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

#main1 {
	/* The image used */
	/* background-image: url("../images/main/main01.jpg"); */
	/* background-color: #fff; */
	background-color: rgba(0,0,0,0.1);
	}
#main2 {
    /* The image used */
/*     background-image: url("../images/main/star03.jpg");
    background-size: cover;
    background-repeat: no-repeat;	 */
    background-color: rgba(0,0,0,0.1);
    
}
    
    
/* 메인 2 */
.main2_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
  color: #121212;
}    

.main2_text p {
	font-size: 20px;
}

.mt01 { 
    position: relative;
    width: 50%;
    height: 587px; 
	transform: translate(0%, 60.3%);	
}

.mt02 {
    position: relative;
    width: 50%;  
    height: 293px;      
	transform: translate(100%, -79.5%);
}

.mt03 {
    position: relative;
    width: 50%;  
    height: 293px;  
	transform: translate(100%, -79.5%);
}

/* 1 */
#mtdv01 {    
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 50%;
    height: 587px;
    background-image: url("../images/main/brickWall.jpg");
}

.mt01_image { 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mt01_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -40%);
  text-align: center;  
}

.mt01:hover .mt01_image { 
  opacity: 0.5;  
}

.mt01:hover .mt01_middle { 	
  opacity: 1;
}

.mt01_text a {
	text-decoration: none;
	color: #0C0000;
	font-size: 80px;
	font-weight: bolder;
}

.mt01_text p {
	color: #0C0000;
	font-size: 25px;
}
    
/* 2 */
#mtdv02 {
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 50%;
    height: 293px;
    background-image: url("../images/main/cook.jpg");   
}

.mt02_image { 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mt02_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mt02:hover .mt02_image {
  opacity: 0.5;
}

.mt02:hover .mt02_middle {
  opacity: 1;
}

.mt02_text a {
	text-decoration: none;
	color: #0C0000;
	font-size: 80px;
	font-weight: bolder;
}

.mt02_text p {
	color: #0C0000;
	font-size: 25px;
}
    
/* 3 */
#mtdv03 {   
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 50%;
    height: 293px;
    background-image: url("../images/main/newspaper.jpg");
}

.mt03_image { 
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.mt03_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mt03:hover .mt03_image {
  opacity: 0.5;
}

.mt03:hover .mt03_middle {
  opacity: 1;
}

.mt03_text a {
	text-decoration: none;
	color: #0C0000;
	font-size: 80px;
	font-weight: bolder;	
}


.mt03_text p {
	color: #0C0000;
	font-size: 25px;
}


#instafeed { /* border: 1px solid black; */
	padding-top: 400px;
	padding-left: 200px;
}

.instaimg{width: 300px; height: 300px;
	padding: 10px 10px;
	/* border: 1px solid yellow; */
}

.instaimg:HOVER {
	/* background-color: rgba(255,0,201,0.5); */
	
	
	background-image: url("../images/main/star03.jpg");
}

.instaText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -180%);
  color: #121212;
}    

.instaText p {
	font-size: 20px;
}








 