@CHARSET "UTF-8";
.main_box{ 
	width:100%; 
	height:100%; 
	position:relative; 
}
* {box-sizing: border-box}
.menu_article {
	height: 100%;
}

/* sec1 영역 전체 */
#menu_sec1{
	background-image: url("../images/menu/menu_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll; /*스크롤 내려도 그림이 안 따라오게끔*/
}

/*menu_sec1 어둡게 */
 .menu_cover{ 
	border: 1px solid black;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	width: inherit;
}

/*메뉴정보*/
.menu_info{ 
	/*border: 1px solid #fff;*/
	width: 1000px;
	margin: auto;
	margin-top: 180px;
	padding: 10px;
	height: 600px;
}

/* ul,li,a 지정 */
.menu_info ul{
	margin-top: 30px;
}	
.menu_info li{
	/*border: 1px solid #fff;*/
	list-style: none;
	margin: 15px;
	padding: 10px;		
	text-align: right;
	line-height: 3em;
	font-size: 1.2em;		
}
.menu_info a{
	font-size: 2.5em;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
.menu_info a:HOVER {
	color: #990000;	
	transition: 0.2s;
}

/* sec2 영역 전체 */
#menu_sec2{
	color: #fff;
	background-image: url("../images/menu/menu_bg2.jpg");]
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

/* 탭메뉴 */
.tab {
	float: left;
	background-color: rgba(0,0,0,0.7);
	width: 20%;
	margin: 80px 0 0 0;
    padding: 40px 0 40px 0;
    text-align: center;
}

/* 탭링크 */
.tab a:active {
    border-bottom : 3px solid #fff;
}
.tab a:HOVER {
    border-bottom : 3px solid #fff;
    cursor: pointer;
    cursor: hand;
	transition: 0.2s;
}
.tab a {
	background-color: transparent;
	display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 30px; 
    color: #fff;
    margin: 25px 0 25px 0;
    text-decoration: none;
}

/* 상세메뉴 탑 */
.menu_top {
	margin-left: 650px;
	display: inline-block;
	margin-top: 110px;
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}
.menu_topicon{
	float: left;
	margin-top: 10px;
	text-align: center;
}
.menu_top div {
	margin-top: 10px;
}

/* 상세메뉴 */
.menu_row {
	/* margin: 8px -16px;
	padding: 8px; */
	margin-left: 50px;
}

/* 메뉴 한개 */
.menu_column {
	padding: 8px;
	display: block;
	float: left;
    width: 25%;
    margin: 10px 20px;
    transition: 0.3s;
}

#myImg {
	float: left;
	display: table;	
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
    margin: 15px 0 5px 0;
}
.menu_caption{
	color : white;
	font-size: 20px;
	text-align: center;
	background-color:rgba(0,0,0,0.6);
}

#menu_delete{
	float: right;
}

.fa-trash{
	color: white;
	font-size: 20px;
	margin: 0 5px 0 0;
}