@CHARSET "UTF-8";

/* sec1 영역 전체 */

#article_sec1{
	height: 1000px;
	border: 1px solid red;
	background-image: url("../images/menu/menu_bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: scroll;
}

.main_menu{	height: 600px;}
.main_menu ul{ margin-top: 30px;}	

.main_menu li{list-style: none;
		/*border: 1px solid #fff; */
		margin: 15px;
		padding: 10px;		
		text-align: right;
		line-height: 3em;
		font-size: 1.2em;		
}
.main_menu a{
	font-size: 2.5em;
	color: #fff;
	text-decoration: none;
}
	
/* 마우스올렸을 때 색변화  */
.main_menu a:HOVER {
	color: #800000;	
}
.main_menu a:HOVER #mmenu_img{
	background-image: url("../images/menu/steak/sec1_steak.jpg");
	background-size: 100%;
}
#mmenu_img{
	
	width: 1000px; 
	margin :auto;
	margin-top:180px;
	padding: 10px;
}
/* sec2 영역 전체 */
#article_sec2{
	height: 1600px;
	color:  #fff;
	border: 1px solid red;
	background-image: url("../images/menu/menu_bg2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 100px;
}

.tab {
	margin-left: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
   /*  background-color: #f1f1f1; */ 
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px; 
}

/* 텝페이지 마우스올렸을때 글자색변경 */
.tab button:hover {
    color: red;
}

/* 텝페이지 메뉴 눌렀을때 글자색변경 */
.tab button.active {
    color: red;
}

/* 메뉴 보여주는 영역 전체*/
.tabcontent {
	background-color:rgba(255,255,255,0.3);
    display: none;
    padding: 6px 12px;
    border: 1px solid blue;
    border-top: none;
}
/* 스테이크 전체 */
#Steak{
	width:1600px;
	height: 500px;
	margin: auto; }
#Pasta{
	width:2200px;
	height: 500px;
	margin: auto; }
#Steak li,#Pasta li{	float: left;
	list-style: none; 
	}
	
#steak1,#steak2,#steak3,#steak4,#steak5,#steak6{
	background-color:#f3f3f3;
	width: 416px; height: 335px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 40px;
	border: 1px solid red; }


/* 메뉴이름표시  */
#steak_ps1{
	color:#303030;
	font-size:1.8em;
	border:1px solid #fff;
	float:left;
	margin-top: 300px; }
	
/* 가격표시  */
#steak_ps2{color:#303030;
	font-size:1.8em;
	border:1px solid #fff;
	float:right;
	margin-top: 300px;}
