@CHARSET "UTF-8";
.main_box{ 
	width:100%; 
	height:100%; 
	position:relative; 
}
* {box-sizing: border-box}
.menu_article {
	min-height: 100%;
}

/* sec1 영역 전체 */
#article_sec1{
	min-height: 950px;
	border: 1px solid red;
	background-image: url("../images/menu/menu_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll; /*스크롤 내려도 그림이 안 따라오게끔*/
}
.sec1_menu{
	/*border: 1px solid #fff;*/
	width: 1000px;
	margin: auto;
	margin-top: 180px;
	padding: 10px;
	height: 600px;
}
.sec1_menu ul{ margin-top: 30px;}	

.sec1_menu li{
	/*border: 1px solid #fff;*/
	list-style: none;
	margin: 15px;
	padding: 10px;		
	text-align: right;
	line-height: 3em;
	font-size: 1.2em;		
}
.sec1_menu a{
	font-size: 2.5em;
	color: #fff;
	text-decoration: none;
}
.sec1_menu a:HOVER {
	color: #800000;	
}
.sec1_menu a:HOVER #mmenu_img{
	background-image: url("../images/menu/steak/sec1_steak.jpg");
	background-size: 100%;
}

/* sec2 영역 전체 */
#article_sec2{
	height: 1600px;
	color:  #fff;
	border: 1px solid blue;
	background-image: url("../images/menu/menu_bg2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.tab {
	float: left;
	background-color: rgba(0,0,0,0.8);
	width: 20%;
	height: 100%;
    border: 1px solid #ccc;
    padding-top: 150px;
}

.tab button {
	background-color: transparent;
	display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 22px 16px;
    transition: 0.3s;
    font-size: 20px; 
    color: #fff;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

/* 텝페이지 마우스올렸을때 글자색변경 */
.tab button:hover {
    font-size: 1.5em;
}

/* 텝페이지 메뉴 눌렀을때 글자색변경 */
.tab button.active {
    font-size: 1.5em;
}

/* 메뉴 보여주는 영역 전체*/
.tabcontent {
	padding-top: 150px;
	background-color:rgba(255,255,255,0.3);
    border: 1px solid blue;
    border-top: none;
   `float: left;
    width: 100%;
    height: 100%;
    padding-left : 200px;
}

.tabcontent img{
	border: 1px solid red;
	float: left;
	margin : 0 20px 15px 20px;
	display: table;	
}

p {
	border: 1px solid green;
	margin: 20px 0 70px 15px;
	padding : 10px 30px 10px 30px;
	text-align: center;
}

.Appetizer, .Salad, .Steak, .Pasta, .Dessert, .Beverage, .caption {
	display: none;
	float: left;
}

h4{
	color : white;
	font-size: 20px;
}