@CHARSET "UTF-8";
/* 공통 */
/* input[type=button]:HOVER{cursor: pointer;} */
/* 상단제목 */
h1{ margin:0;
	padding-top:110px;
	font-size: 3em;
	color: #ffffff;
	text-align: center; }
	
/* 3구역 배경이미지 지정 */
.mpbox{
	height:100%;
	width:100%;
	position:relative; 
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
  }
#main0{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/mpback1.jpg");}
#main1{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/mpback2.jpg");}
#main2{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/mpback3.jpg");}


/* 하얀배경 메인내용 */
#modify{background-color:rgba(255, 255, 255, 0.4);
		height:700px; width:800px;
		margin: 20px auto 0 auto ;
		position: relative;	}
#mybook,#myreview{
		background-color:rgba(255, 255, 255, 0.4);
		height:700px; width:1300px;
		margin: 20px auto 0 auto ;
		position: relative;	
		}
/* 테이블영역 */
#info_update{padding-top: 50px; }/* 전체를 내림 */
#modify table{margin: 20px auto 0 auto ;}
#modify td{padding: 15px 0;}
#modify th{padding: 0;}
#button_area{padding-top: 50px;}
#modify input[type=text],#modify input[type=password]{
		background-color:rgba(0, 0, 0, 0);
		border:none;
		border-bottom:1px solid #000;
		color: #000;
		font-weight: bold;
		font-size: 15px;
		padding: 5px;
}
#modify table p{font-size: 13px; color: #800000;}
/* 아이콘 */
#modify i{
		padding: 10px;}

/* 수정, 탈퇴 버튼 */
#mem_delete{
	/* background-color:rgba(0, 0, 0, 0); */
	padding:10px 20px;
	color: #bcbcbc;
	font-weight:bold;
	border: none;
	border-radius:5px;
	margin-left: 80px;
	}
#mem_update{
	/* background-color:#000; */
	padding:10px 20px;
	color: #bcbcbc;
	font-weight:bold;
	border: none;
	border-radius:5px;
	margin-left: 60px;
}
/* #mem_update:HOVER{color:#000;background-color:rgba(0, 0, 0, 0);}
#mem_delete:HOVER{border: 2px solid #800000;} */

/* ---------------------------------mybook--------------------------------------------- */
/* 예약기간지정 */
.term{float: left; margin:30px 0 0 90px;}
 .searchDate{overflow:hidden;\*zoom:1;float: left;margin-right:10px;}
.searchDate:after{display:block;content:''}
.searchDate li{position:relative;float:left;
				margin:0;list-style: none;}			
.searchDate li .chkbox2{display:block;text-align:center;}
.searchDate li .chkbox2 input{position:absolute;z-index:-1;}
.searchDate li .chkbox2 label{display:block;
							width:40px;height:26px;
							font-size:13px;
							font-weight:bold;
							border:1px solid #000;
							border-left:none;
							color:#000;text-align:center; 
							line-height:25px;
							text-decoration:none;
							cursor:pointer;background:rgba(0, 0, 0, 0); }
#leftBorder{border-left:1px solid #000; }
.searchDate li .chkbox2.on label{background:#ec6a6a;}
.demi{font-weight:bold;margin:20px 10px 0 10px;float: left;display:inline-block;vertical-align:middle}
.inpType{width:80px;padding-left:6px;height:24px;line-height:24px;vertical-align:middle;border:1px solid #dbdbdb}
.btncalendar{display:inline-block;width:22px;height:22px;
			background:url(../images/mypage/cal.png) center center no-repeat;
			background-size:22px;
			text-indent:-999em}
.dset{margin-top:15px;float: left;}
#bsearch{margin:15px 0 0 10px;}
/* 총갯수보여주는영역 count */
.mpcount{ font-size: 2em; font-weight: bold; width: 100px;
		float: right; margin:45px 120px 0 0;}
#countAll{ font-weight: normal; color:#7a1010;}
		
/* 예약조회 테이블 위치/사이즈 */
#mybook table th{width: 120px; padding: 8px 0; font-size: 16px;
				background-color:rgba(0, 0, 0, 0.9); color: #eee; }
#mybook table th.ps{width: 350px;}
#mybook table th.guest{width: 100px;}
#mybook table.mybook_tbl{
	margin:0px auto;
	border-collapse:collapse;
	border-top: 2.5px solid #000;
	border-bottom: 2.5px solid #000;
	}
#mybook table tr.ttl{border-bottom: 1px solid #000;}
#mybook table td{text-align: center; padding:12px 0;
				border-bottom: 1px solid #000;
				}
/* 예약상태(?)확인 - 당일취소불가, 리뷰쓰기, 예약취소 */
.bookday {font-weight: bold;color: #800000;}
.bookcancel{background-color:rgba(0, 0, 0, 0.5);
			color: #bcbcbc;
			font-weight:bold;
			border: none;
			padding:4px 8px;
			border-radius:5px;}
.writeReview{background-color:rgba(0, 0, 0, 0.5);
			color: #bcbcbc;
			font-weight:bold;
			border: none;
			padding:4px 8px;
			border-radius:5px;}
.bookcancel:HOVER{background-color:#ec6a6a; color: #000;}
.writeReview:HOVER{background-color:#ec6a6a; color: #000;}


/* ---------------------------------myreview--------------------------------------------- */

/* 리뷰조회 테이블 위치/사이즈 */
#myreview table th{width: 120px; padding: 20px 0; font-size: 16px;
				background-color:rgba(0, 0, 0, 0.9); color: #eee; }
#myreview table th.ps{width: 500px; border: none;}
#myreview table.mybook_tbl{
	margin:10px auto;
	border-collapse:collapse;
	border-top: 2.5px solid #000;
	border-bottom: 2.5px solid #000;
	}
#myreview table tr.ttl{border-bottom: 1px solid #000;}
#myreview table td{text-align: center; padding:12px 0;
				border-bottom: 1px solid #000;}
.reviewdetail{color:#800000;
			font-size: 1.1em;
			text-decoration: none;
			padding: 2px 20px;
			}
.reviewdetail:HOVER{color: #eee;}
