@CHARSET "UTF-8";
/* 공통 */
input[type=button]:HOVER,
input[type=submit]:HOVER {cursor: pointer;} 
/* 상단제목 */
h1{ margin:0;
	padding-top:110px;
	font-size: 3em;
	color: #ffffff;
	text-align: center; }
	
/* 3구역 배경이미지 지정 */
.mpbox{
	height:950px;
	width:100%;
	min-width:1200px;
	position:relative; 
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color: #000;
  }
#main0{background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/mypage/mpback1.jpg"); }
#main1{background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/mypage/mpback2.jpg"); }
#main2{background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("../images/mypage/mpback3.jpg"); }


/* 하얀배경 메인내용 */
#modify{background-color:rgba(255, 255, 255, 0.5);
		height:700px; width:800px;
		margin: 20px auto 0 auto ;
		position: relative;	}
#mybook,#myreview{
		background-color:rgba(255, 255, 255, 0.5);
		height:700px; width:1200px;
		margin: 20px auto 0 auto ;
		position: relative;	
		}
/* ---------------------------------1페이지 myInfo--------------------------------------------- */
/* 테이블영역 */
#info_update{padding-top: 50px; }/* 전체를 내림 */
#modify table{margin: 20px auto 0 auto ;}
#modify td{padding: 15px 0;}
#modify th{padding: 0;}
#button_area{padding-top: 50px;}
#modify input[type=text],#modify input[type=password]{
		background-color:rgba(0, 0, 0, 0);
		border:none;
		border-bottom:1px solid #000;
		color: #000;
		font-weight: bold;
		font-size: 15px;
		padding: 5px;
}
#modify input[type=text].on {border: 1px solid red;}
#modify table p{font-size: 13px; color: #800000;}
/* 아이콘 */
#modify i{
		padding: 10px;}

/* 수정, 탈퇴 버튼 */
#mem_delete{
	/* background-color:rgba(0, 0, 0, 0); */
	padding:10px 20px;
	color: #bcbcbc;
	font-weight:bold;
	border: none;
	border-radius:5px;
	margin-left: 80px;
	}
#mem_update{
	/* background-color:#000; */
	padding:10px 20px;
	color: #bcbcbc;
	font-weight:bold;
	border: none;
	border-radius:5px;
	margin-left: 60px;
}
/* #mem_update:HOVER{color:#000;background-color:rgba(0, 0, 0, 0);}
#mem_delete:HOVER{border: 2px solid #800000;} */

/* ---------------------------------2페이지 mybook--------------------------------------------- */
/* 예약기간지정 */
.term{float: left; margin:70px 0 0 90px;}
.searchDate{overflow:hidden;\*zoom:1;float: left;margin-right:10px;}
.searchDate:after{display:block;content:''}
.searchDate li{position:relative;float:left;
				margin:0;list-style: none;}			
.searchDate li .chkbox2{display:block;text-align:center;}
.searchDate li .chkbox2 input{position:absolute;z-index:-1;}
.searchDate li .chkbox2 label{display:block;
							width:40px;height:26px;
							font-size:13px;
							font-weight:bold;
							border:1px solid #000;
							border-left:none;
							color:#000;text-align:center; 
							line-height:25px;
							text-decoration:none;
							cursor:pointer;background:rgba(0, 0, 0, 0); }
#leftBorder{border-left:1px solid #000; }
.searchDate li .chkbox2.on label{background:#ec6a6a;}
.demi{font-weight:bold;margin:20px 10px 0 10px;float: left;display:inline-block;vertical-align:middle;}
.inpType{width:80px;padding-left:6px;height:24px;line-height:24px;vertical-align:middle;
		background: rgba(0,0,0,0);
		border:none;
		border-bottom: 1px solid #000;
		}
.btncalendar{display:inline-block;width:22px;height:22px;
			background:url(../images/mypage/cal.png) center center no-repeat;
			background-size:22px;
			text-indent:-999em}
.dset{margin-top:15px;float: left;}
/* [조회]버튼 */
.termSearch{border: 1px solid #000;margin:13px 0 0 20px; padding: 5px 10px;
			background-color:rgba(0, 0, 0, 0);
			color: #000; }
/* 총갯수보여주는영역 count */
.mpcount{ font-size:15px;font-weight: bold; width: 200px;
		float: right; margin:90px 130px 0 0;}
.countRed{ color:#7a1010; font-size: 19px;}
		
/* 예약조회 테이블 위치/사이즈 */
#myreview table th, 
 #mybook table th{width: 120px; padding: 8px 0; font-size: 16px;
				background-color:rgba(0, 0, 0, 0.9); color: #eee; }

   #mybook table th.ps{width: 350px;}
#mybook table th.guest{width: 100px;}

#myreview table.mybook_tbl,
   #mybook table.mybook_tbl{
	margin:0px auto;
	border-collapse:collapse;
	border-top: 2.5px solid #000;
	border-bottom: 2.5px solid #000;
	}
#myreview table tr.ttl,
   #mybook table tr.ttl{border-bottom: 1px solid #000;}
#myreview table td,
   #mybook table td{text-align: center; padding:12px 0;
				border-bottom: 1px solid #000;
				}
/* 예약상태(?) 버튼 - 당일취소불가, 리뷰쓰기, 예약취소 */
.bookday {font-weight: bold;color: #800000;}
.bookcancel{
			background-color:#ec6a6a; color: #000;
			font-weight:bold;
			border: none;
			padding:4px 8px;
			border-radius:5px;}
.writeReview{background-color:rgba(0, 0, 0, 0.5);
			color: #bcbcbc;
			font-weight:bold;
			border: none;
			padding:4px 8px;
			border-radius:5px;}
.bookcancel:HOVER{background-color:#b51717; color: #000;}
.writeReview:HOVER{background-color:rgba(0, 0, 0, 1); color: #bcbcbc;}


/* ---------------------------------myreview--------------------------------------------- */

 /* 리뷰조회 테이블 위치/사이즈 */
#myreview table th.ps{width: 450px; border: none;}

 .searchDate2{overflow:hidden;\*zoom:1;float: left;margin-right:10px;}
.searchDate2:after{display:block;content:''}
.searchDate2 li{position:relative;float:left;
				margin:0;list-style: none;}			
.searchDate2 li .chkbox22{display:block;text-align:center;}
.searchDate2 li .chkbox22 input{position:absolute;z-index:-1;}
.searchDate2 li .chkbox22 label{display:block;
							width:40px;height:26px;
							font-size:13px;
							font-weight:bold;
							border:1px solid #000;
							border-left:none;
							color:#000;text-align:center; 
							line-height:25px;
							text-decoration:none;
							cursor:pointer;background:rgba(0, 0, 0, 0); }
.searchDate2 li .chkbox22.on label{background:#ec6a6a;}
.demi2{font-weight:bold;margin:20px 10px 0 10px;float: left;display:inline-block;vertical-align:middle}
.dset2{margin-top:15px;float: left}

/* 페이지 */
.pageArea{text-align: center; 
		margin-top:30px;
		 }
#page1 {text-decoration: none;
		padding:3px; margin-right:5px;
		color: #000;
		font-size: 15px;}

.page2{text-decoration: none;
		padding:3px; margin-right:5px;
		color: #000;font-size: 12px;}

/* 서브메뉴 */
#subon {/*  border: 1px solid #fff; */
	color: #fff;
	font-size: 18px;
	display: none;
	text-align: center;
	position: fixed;
	text-transform: uppercase;
	top: 42.5%; right: 53px;
	z-index: 100;}

#subon ul{list-style: none;}

#subon ul li{
	width: 120px;
	border-bottom: 2px solid #fff;
	padding-bottom: 1px;
	margin-bottom: 2px;}






