@CHARSET "UTF-8";
* {
    box-sizing: border-box;
}
body {
    background-color: #e3e3e3;
    padding: 20px;
    font-family: Arial;
}
/* Center website */
.news_main {
	border: 1px solid red;
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.news_row {
	border: 1px solid green;
    margin: 10px -16px;
}
/* Add padding BETWEEN each column */
.news_row,
.news_row > .news_column {
    padding: 8px;
}
/* Create three equal columns that floats next to each other */
.news_column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}
/* Content */
.news_content {
	border: 1px solid blue;
    background-color: white;
    padding: 10px;
}