@CHARSET "UTF-8";
* {
    box-sizing: border-box;
}
.wrap {
	height: 100%;
	background-image: url("../images/news/bg.jpg");
}
.news_body {
    background-color: #e3e3e3;
}
.news_main {
	padding-top: 80px;
    margin: 0 300px auto;
}
.news_cover{
	border: 1px solid yellow;
	background-color: rgba(0,0,0,0.6);
	min-height: 950px;
	width: inherit;
	color: #eee;
}
h1 {
	margin: 10px;
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}
.news_row {
    margin: 8px -16px;
}

.news_row:after {
	content: "";
	display: table;
	clear: both;
}
.news_content {
	float: left;
	/*background-color: rgba(255,255,255,0.8);*/
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#img01 {
    margin: auto;
    display: block;
    width: 80%;
  	height: 500px;
    max-width: 800px;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

#title {
	top: 1000px;
	max-width: 800px;
	width: 80%;
    margin: auto;
    display: block;
    text-align: center;
    color: #c9c9c9;
    padding: 30px 0;
    font-size: 1.5em;
    height: 150px;
}

#img01, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}
.news_close {
	position: absolute;
    top: 185px;
    right: 500px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.news_close:hover,
.news_close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#subject {
	margin: 5px;
}

