@CHARSET "UTF-8";

/* 리뷰텍스트 창 */
textarea { border: 1px solid #969696;
	border-radius: 5px;
	width: 350px;
	padding: 5px;
	cursor: text;
	display: inline-block; }
	
.write_content>textarea {
	overflow-y: auto;
	height: 50px; }
	
/* 별점 모양 */
.star-input>.input,
.star-input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('../images/review/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding-right:10px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}


/* 별점 점수 */
.rating>span { color: black;
float:right; }


/* 폼 */
form { margin: 0 100px; }


/* title */
.title { /* border: 1px solid orange; */
	width: 100px; height: 30px;
	margin-right: 20px;
	float: left;
}

/* 버튼  */
button{
	border: 1px solid #969696;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 4px;
	background: #fff;
	width: 80px; height: 40px;
	cursor: pointer;}

.review_write button { /* border: 1px solid red; */
	vertical-align: text-bottom;
}
.button {
    background: #5e5c6a;
    color: #fff;
}




	
/* writelocation */
.write_location { /* border: 1px solid blue; */
	width: 500px;
	margin-top: 10px; }
	
	
.write_rating{ float:left; }

.write_content { width: 800px; }






