@CHARSET "UTF-8";
* {
	box-sizing: border-box; 
font-size: 14px; }


#wraap{
	border: 1px solid blue;
	width: 100%;
	text-align: center; 
	 	padding-left:80px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/mypage/backg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}	
article {width: 50%; height: 100%;
margin-right: auto;
	margin-left: 380px;
	padding-left:60px;
	background-color:rgba(255,255,255,0.7);
margin-bottom: 18px;}
body {
	heigh:3000px;
	width:2000px;
  font-family: Arial;}

.main {
	margin: 100px auto; }

.review_wrap img { width: 500px; height: 300px;
	margin: auto; }

button {
	border: 1px solid #969696;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 4px;
	background: #fff;
	width: 80px; height: 40px;
	cursor: pointer; 
	margin-left: 10px; }

textarea { border: 1px solid #969696;
	border-radius: 5px;
	width: 350px;
	padding: 5px;
	cursor: text;
	display: inline-block; }
	
.clear { clear: both; }

.cursor { cursor: pointer; }

/* 별점 모양 */




.star-input>.input,
.star-input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{display: inline-block;vertical-align:middle;background:url('../images/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding-right:10px;line-height:30px;}
.star-input>.input{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.input>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.input.focus{outline:1px dotted #ddd;}
.star-input>.input>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.input>label:hover,
.star-input>.input>input:focus+label,
.star-input>.input>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.input>label:hover~label{background-image: none;}
.star-input>.input>label[for="p1"]{width:30px;z-index:5;}
.star-input>.input>label[for="p2"]{width:60px;z-index:4;}
.star-input>.input>label[for="p3"]{width:90px;z-index:3;}
.star-input>.input>label[for="p4"]{width:120px;z-index:2;}
.star-input>.input>label[for="p5"]{width:150px;z-index:1;}
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}


/* 별점 점수 */
.rating>span { color: black;
float:right; }

/* 리뷰쓰기 */
.review_write { 
	border-top: 2px solid red;
	border: 2px solid pink;
	width: 800px;
	margin: 20px 20px; }

form { margin: 0 100px; }

.title { /* border: 1px solid orange; */
	width: 100px; height: 30px;
	padding-right:35px;
	float: left;
}

.write_location { /* border: 1px solid blue; */
	width: 500px;
	margin-top: 10px; }
	
	.write_find { /* border: 1px solid blue; */
	width: 500px;
	margin-top: 10px;
	padding-left:350px;}

.write_rating{ float:left; }

.write_content { width: 800px; }

.write_content>textarea {
	overflow-y: auto;
	height: 50px; }

.write_find>textarea{
	height: 20px;
	width:250px;
}
.review_write button { /* border: 1px solid red; */
	vertical-align: text-bottom;
}

/* 리뷰 영역 */
.review_wrap { border-top: 2px solid red;
	width: 800px;
	margin: 10px 20px; }

.review_pic { width: 500px;
	margin: 0 auto; }

.review_content { margin: 0 100px; }

.container {
  position: relative;	/* < > 버튼 위치 잡기 위해 필요 */ }

.mySlides { width: 500px; height: 300px;
	display: none; }

/* < > 버튼 */
.review_pic a {
	cursor: pointer;
	position: absolute;
	top: 60%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
	-webkit-user-select: none; }

.prev{ border-radius: 0 3px 3px 0;
  display: none; }

.next { border-radius: 3px 0 0 3px;
 	right: 150px;
 	display: none; }

.prev:hover,
.next:hover { background-color: rgba(0, 0, 0, 0.8); }


/* 썸네일 목록 */
.row { width: 500px; height: 70px;
	margin: 0 auto;
	margin-top: 10px; }

.column {  width: 33%;	/* 최대 첨부사진 수에 맞춰 조정필요 */
  float: left; 
  padding-left:10px;}

.column img { height: 70px;
	margin: 0 auto; }

/* 썸네일 이미지 불투명하게 */
.demo { opacity: 0.6; }

.active,
.demo:hover { opacity: 1; }


/* 좋아요 버튼 */

/* .on이었음 이거 고칠 수 있으면 고치자 */
.button {
    background: #5e5c6a;
    color: #fff;
}



.like>button>p{
	display: inline-block;
	line-height: 10px;
	margin-left: 5px;
}

/* 리뷰작성자 */
.name {	width: 100px; height: 30px;
	float: left; }



/* 리뷰날짜 */
.date {	width: 300px; height: 30px; }

/* 리뷰 내용 글자색 */
.content { color: #323232; }

/* 댓글 */
.comment { 
	padding-left:150px; }



.comment>textarea {
	overflow: hidden; 
	height: 30px; }

.comment button>p{ 
	display: inline-block;
	line-height: 10px;
	margin-left: 5px; }


#udate, #ddate{float:right;
		display: inline-block;
	line-height: 10px;
	margin-right: 5px;
	border: 1px solid #969696;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 4px;
	background: #fff;
	width: 80px; height: 40px;
	cursor: pointer;}
	


#numnum{
font-size:80px;

	}
	
	
.pageSelect{    padding-right: 90px;
			}


.pageSelect>.pp{
	padding-left:20px;
	font-size:16px;
	
}

.tbimg{
	margin-top:50px;
	background-color:#afafaf;
}

