@CHARSET "UTF-8";



body, html {height: auto;}
/* 상단제목 */
#title{ margin:0;
   padding-top:110px;
   font-size: 3em;
   color: #ffffff;
   text-align: center;

   }
   
/* 배경이미지 지정 */
 #sec1_reviewlist{
   min-height:0;
   width:100%;
   position:relative; 
   background-color: #eee;
  /*  위 메인menu랑 안겹치게 padding값 줌 */
   background-image:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("../images/findback4.png");
   background-repeat: no-repeat;
   background-size:  100% 200px ; 
   background-position: top;

  } 

/* 하얀배경 */
#reviewList{
      background-color:rgba(255, 255, 255, 0);
       width:900px;
      margin: 20px auto 0 auto ;
      position: relative;   /* border: 1px solid red;  */ }
      
      









/* 지점선택 영역 */
#selectArea{/* border: 1px solid yellow; */ float: left;
         margin:90px 0 15px 30px ;}
#selectArea span{font-weight: bold; margin: 0 10px 0 2px ;}
.dateBox{border: 1px solid #c0c0c0; background-color: rgba(0,0,0,0);padding: 3px 5px;}
/* 총갯수보여주는영역 count */
.mpcount{ font-size:22px;font-weight: bold;
      float: right; margin:90px 30px 0 0 ; /* border: 1px solid; */}
.countRed{ color:#7a1010; font-size: 25px;}

/* 테이블 */
.review_tbl{border-collapse:collapse;
   border-top: 1px solid #c0c0c0;
   /* border-bottom: 1px solid #c0c0c0; */
   margin:0px auto;   }

/* 테이블 td영역 공통 */
.review_tbl td{width: 950px; padding: 6px 20px;}

/* td 이름,지점,날짜 */
.td_start{padding-top: 25px;font-weight: bold;font-size: 18px;}
span#loca{font-size: 11px; color: #808080; margin-left: 5px;font-weight: normal;}
span#date{float: right;font-weight: normal;font-size: 15px;}

/* td 평점 */
.td_rating i{padding-right: 3px; }

/* td 내용 */
.td_cont{ }

/* td 사진 */
.td_pic{}

/* 사진 펼침 영역 */
.container {
  position: relative;	/* < > 버튼 위치 잡기 위해 필요 */ }

.mySlides { width: 500px; height: auto;
	display: none; }

/* < > 버튼 */
.review_pic a {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
	-webkit-user-select: none;background-color: rgba(0, 0, 0, 0.6); }

.prev{ border-radius: 0 3px 3px 0;
  display: none; }

.next { border-radius: 3px 0 0 3px;
 	right: 150px;
 	display: none; }

/* .prev:hover,
.next:hover {  } */

/* 썸네일 목록 */
.row { width: 500px; height: 70px;
	margin: 0 auto;
	margin-top: 10px; }

.column {  width: 33%;	/* 최대 첨부사진 수에 맞춰 조정필요 */
  float: left; 
  padding-left:10px;}

.column img { height: 70px;
	margin: 0 auto; }

/* 썸네일 이미지 불투명하게 */
.demo { opacity: 0.6; }

.active,
.demo:hover { opacity: 1; }


/* td 좋아요 */
.td_like {}
#heart1{background-color: rgba(0,0,0,0); border: none; cursor: pointer; float: left;}
.delReview{background-color: #000; color: #eee;border: none;float: right;padding: 5px 10px;cursor: pointer;}
/* td 댓글 */
.th_admin{padding: 0px 20px 0px 60px; font-size: 18px; font-weight: bold;height: 80px; width: 250px;}
.td_comment{}
.comm_content{width: 80%; height: 45px; float: left;}
.comment_btn{background-color: #000; color: #eee; width: 19%; height: 50px; border: none;cursor: pointer;}
.delComment{border: none;padding: 5px; cursor: pointer; font-weight: bold; color: #a20000; font-size: 16px;text-decoration: underline;}


/* 페이지 */
.pageArea{text-align: center; 
      margin-top:30px;
      color: #000;
      padding-bottom: 50px; 
       }
#page1 {text-decoration: none;
      padding:3px; margin-right:5px;
      color: #000;
      font-size: 15px;}

.page2{text-decoration: none;
      padding:3px; margin-right:5px;
      color: #000;font-size: 12px;}













