@CHARSET "UTF-8";
* { box-sizing: border-box; 
font-size: 14px;
}

body {
  font-family: Arial;
  margin: 0;
}

img { /* border: 1px solid blue; */
  /* vertical-align: middle; */
	width: 500px;
	height: 300px;
	
	margin: auto;
	display: block;
}

.clear { clear: both; }

/* Add a pointer when hovering over the thumbnail images */
.cursor { cursor: pointer; }

.review_wrap {
	width: 800px;
}

.review_pic {/* border: 1px solid red; */
	margin: 0 auto;
	width: 500px;
}

/* Position the image container (needed to position the left and right arrows) */
.container { border: 1px solid blue;
  position: relative;
  min-height: 300px;
 
}

/* Slides */
.mySlides { /* border: 1px solid red; */
	width: 500px;
	height: 300px;
	display: none;
}

/* Next & previous buttons */
.review_pic a {/* border: 1px solid green; */
	cursor: pointer;
	position: absolute;
	top: 30%;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	user-select: none;
	-webkit-user-select: none;
}

.prev{ 
  border-radius: 0 3px 3px 0;
  /* display: block; */
  /* margin-top: -50px; */
}

/* Position the "next button" to the right */
.next { /* border: 1px solid green; */
	border-radius: 3px 0 0 3px;
 	right: 150px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*  */
.row { border: 1px solid orange;
	width: 500px;
	height: 70px;
	margin: 0 auto;
}

/* Six columns side by side */
.column { 
  float: left;
  width: 16.66%;
/*   height: 70px; */
}

.column img { border: 1px solid yellow;
	height: 70px;
	margin: 0 auto;
	display: block;
}

/* Add a transparency effect for thumbnail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* dot */
/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* 별점 모양 */
.rating { /* border: 1px solid red; */
	float: left;
	width: 150px;
	margin-top: 10px;
	font-size: 18px/* 별 크기 */;
	color: red/* 별 색 */;}

/* 별점 점수 */
.rating>span { color: black; }	

.like { 
	float: left;
}
.like>button{ border: 1px solid #969696;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 4px;
	background: #fff;
	width: 80px; height: 40px;
	cursor: pointer;
	margin-left: 10px;	
}
.like>button>* { /* border: 1px solid green; */ 
	float: left;
	
	/*height: 20px;
	vertical-align: middle;
	 display: inline-block;
	line-height: 20px;
	text-align: center; */
	/* margin-bottom: 100px; */	
}
.like>button>i{ /* border: 1px solid blue; */
	margin-top: 13px;
	}
.like>button>p{ /* border: 1px solid green; */
	display: inline-block;
	line-height: 10px;
	margin-left: 5px;
	
}

.name { border: 1px solid green; 
	width: 100px; height: 30px;
	float: left; }
.name>p { border: 1px solid blue;

}
.date { border: 1px solid orange;
	width: 300px; height: 30px;}
.date>p {border: 1px solid blue;}	

	
.content { border: 1px solid black; 
color: #323232;}
.comment { /* border: 1px solid black; */
	width: 800px;}

.comment>textarea { border: 1px solid #969696;
	border-radius: 5px;
	width: 500px;
	height: 30px;
	margin-left: 17px;
	padding: 5px 10px;
	overflow: hidden;
	cursor: text;
	display: inline-block;
}













