@CHARSET "UTF-8";

/* 리뷰텍스트 창 */
textarea { border: 1px solid #969696;
	border-radius: 5px;
	width: 350px;
	padding: 5px;
	cursor: text;
	display: inline-block; }
	
.write_content>textarea {
	overflow-y: auto;
	height: 50px; }
	
/* 별점 모양 */
.star-input>.inputss,
.star-input>label:hover,
.star-input>.inputss>input:focus+label,
.star-input>.inputss>input:checked+label{display: inline-block;vertical-align:middle;background:url('../images/review/grade_img.png')no-repeat;}
.star-input{display:inline-block; white-space:nowrap;width:225px;height:40px;padding-right:10px;line-height:30px;}
.star-input>.inputss{display:inline-block;width:150px;background-size:150px;height:28px;white-space:nowrap;overflow:hidden;position: relative;}
.star-input>.inputss>input{position:absolute;width:1px;height:1px;opacity:0;}
star-input>.inputss.focus{outline:1px dotted #ddd;}
.star-input>.inputss>label{width:30px;height:0;padding:28px 0 0 0;overflow: hidden;float:left;cursor: pointer;position: absolute;top: 0;left: 0;}
.star-input>.inputss>label:hover,
.star-input>.inputss>input:focus+label,
.star-input>.inputss>input:checked+label{background-size: 150px;background-position: 0 bottom;}
.star-input>.inputss>label:hover~label{background-image: none;}
.star-input>.inputss>label[for="p1"]{width:30px;z-index:5;}/* 후버했을시 옆에 점수 바뀌는거 이건5점 */
.star-input>.inputss>label[for="p2"]{width:60px;z-index:4;}/* 후버했을시 옆에 점수 바뀌는거 이건4점 */
.star-input>.inputss>label[for="p3"]{width:90px;z-index:3;}/* 후버했을시 옆에 점수 바뀌는거 이건3점 */
.star-input>.inputss>label[for="p4"]{width:120px;z-index:2;}/* 후버했을시 옆에 점수 바뀌는거 이건2점 */
.star-input>.inputss>label[for="p5"]{width:150px;z-index:1;}/* 후버했을시 옆에 점수 바뀌는거 이건1점 */
.star-input>output{display:inline-block;width:60px; font-size:18px;text-align:right; vertical-align:middle;}/* 그 점수의 글자사이즈 지정 */


/* 별점 점수 */
.rating>span { color: black;
float:right; }


/* 폼 */
form { margin: 0 100px; }


/* title */
.title_review { /* border: 1px solid orange; */
	width: 100px; height: 30px;
	margin-right: 20px;
	float: left;
}

/* 버튼  */
#file_sel, #review_sub{
	border: 1px solid #969696;
	border-style: outset;
	box-sizing: border-box;
	border-radius: 4px;
	background: #fff;
	width: 80px; height: 40px;
	cursor: pointer;}






	
/* writelocation */
.write_location { /* border: 1px solid blue; */
	width: 500px;
	margin-top: 10px; }
	
	
.write_rating{ float:left; }

.write_content { width: 800px; }


 .review-w { width: 700px !important;
     height: auto !important;}

.review-w-close {position: static !important;
     color: #333 !important;
}
 

